body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/background.png);
    color: #777777;
}

h1, h2, h3, h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.profile {
    width: 129px;
    margin-right: 0;
}
.middle {
    border-color: #cccccc;
    border-width: 0px 1px;
    border-style: solid;
    
}

.my-name {
    background-color: #4aaaa5;
}

#header-color {
    color: #4aaaa5;
}

.main {
    margin-bottom: 115px;
}

#sticky-footer {
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
  }

  nav {
      font-size: 15px;
  }

  .thumbnail {
      position: relative;
  }

  .caption {
      position: absolute;
      left: 0;
      bottom: 5%;
      width: 100%;
      background-color: #4aaaa5;
  }

  /* .stock {
      
  } */

  @media screen and (min-width: 1100px) {
      .container {
          max-width: 960px;
      }
  }